<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">PDF</th>
            <th scope="col">Pages</th>
        </tr>
    </thead>
    <tbody>
        {% for index, row in enumerate(items) %}
        <tr>
            <th scope="row">{{ index }}</th>
            <td>{{ row.get('book').username }}</td>
            <td><a href="{{ row['book'].path }}">{{ row['book'].name }}</a></td>
            <td>
                {% for page in [a for a in row['pages']] %}

                    <a href="{{ page['PageModel'].path }}">{{ page['PageModel'].name }}</a>
                {% end %}
            </td>
        </tr>
        {% end %}
    </tbody>
</table>
